/* Collapcontent Type 5 */
.collapsible__type{
    width: 1920px;
    height: 1046px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.col__body{
    display: flex;
    margin-top: 154px;
}
.col__left{
    display: flex;
    flex-direction: column;
}
.col__center {
    max-width: 636px;
    width: fit-content;
    max-height: 998px;
    height: fit-content;
}
.collapsible__content p{
    margin-top: 4px;
    width: 618px;
    height: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #462B20;
    opacity: 0.85;
}
.collapsible_type-content{
    margin: 32px 96px;
    padding-bottom: 72px;
}
.collapsible__type-head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.collapsible__type-head span {
    flex: 1; 
    height: 1px;
    background-color: #F3EAE5;
}

.collapsible__type-head p {
    white-space: nowrap; 
    margin: 0;
    font-family: 'Instrument Serif';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #462B20;
    opacity: 0.85;
}

.collapsible__content h4{
    font-family: 'Instrument Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 61px;
    letter-spacing: -1px;
    color: #462B20;
    margin: 0;
}

.collapsible__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collapsible_type-content > .row:nth-child(2){
    margin-top: 88px;
}
.collapsible__content-list{
    min-width: 629px;
    width: fit-content;
    max-height: 29px;
    height: fit-content;
    margin-top: 32px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.collapsible__content-item{
    color: #462B20;
    opacity: 0.4;
    font-family: 'Instrument Serif';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 0 14px;
}
.collapsible__content-item:nth-child(2), 
.collapsible__content-item:nth-child(3) {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.collapsible__content-item:first-child {
    border-left: none;
}

.collapsible__content-item:last-child {
    border-right: none;
}

.collapsible__content-item.active{
    font-family: 'Instrument Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #462B20;
    opacity: 1;
}
.col__left-img1{
    width: 183px;
    height: 257px;
    margin-bottom: 179px;
}

.col__left-img2{
    width: 253px;
    height: 363px;
    margin-left: 73px;
    margin-right: 220px;
}

.col__center span {
    display: block;
    width: 160px; 
    height: 1px; 
    background-color: #F3EAE5;
    margin: 56px auto;
}
.col__right{
    display: flex;
    flex-direction: column;
    margin-left: 217px;

}
.col__right-img1{
    width: 274px;
    height: 385px;
    margin-bottom: 157px;
    margin-left: 55px;
}
.col__right-img2{
    width: 183px;
    height: 257px;
}

